<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <footer>
    <p><a href='https://github.com/eyea'>Github</a></p>
    <p>Email: <script>document.write( ['com', 'qq', '1573765968'].reverse().join('.').replace('.', '@') );</script></p>
  </footer>  
</body>
</html>