<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>About</h2>
    <p>qq: 1573765968</p>
    <p><a href='https://github.com/eyea'>Github</a></p>
    <footer>网站正在更新中...</footer>
  </body>
</html>
