<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href='/css/common.css'>
  </head>
  <body>

    <nav>
      <h2 id="nav-head"> <%= head %> </h2>
      <p id="nav-p">
        <input type="button" name="login" value="登录">
        <input type="button" name="reg" value="注册">
      </p>
    </nav>
    
    <p> <%= message %>  </p>

    <% include footer %>

    <script src="/js/console.js"></script>
  </body>
</html>
